<!-- views/partials/header.ejs -->
<!-- Just an image -->

<header class="d-none d-md-block">
    <nav class="navbar navbar-light col-sm-12">
        <div class="container">
            <a class="navbar-brand" href="/" style="display: flex;">
                <img src="/img/logo.png" class="logo" width="80" height="80" class="d-inline-block align-top" alt="">
                <h1 class="premier">Cook <span>& Go</span></h1>
            </a>
            <% if (user.role == 2){ %> 
                <div class="card bg-dark text-white text-center p-3" style="width: 18rem;">
                    <h5><small>Chef <%= user.nom %> </small></h5>
                    <a href="/ateliers/admin/<%= user._id %>" class="p-1 btn-success" >Mon compte</a><br>              
                    <a href="/cuisiniers/logout" class="p-1 btn-danger" >Se déconnecter</a>  
                </div> 
            <% } else if(user.role == 1) { %>
                    <div class="card bg-dark text-white text-center p-3" style="width: 18rem;">
                    <h5><%= user.prenom %> <%= user.nom %> </h5>            
                    <a href="/particuliers/logout" class="p-1 btn-danger" >Se déconnecter</a>
                    </div> 
            <% } %>
        </div>
    </nav>
</header>

<!--Petit-->
<header class="d-block d-md-none text-center" style="display: inline-flex none;">
    <nav class="navbar navbar-light col-sm-12">
        <div class="container">
            <a class="navbar-brand  mx-auto" href="/">
                <img src="/img/logo.png" class="logo" width="80" height="80" class="d-inline-block align-top" alt="">
                <h1 class="premier">Cook <span>& Go</span></h1>
            </a>
            <% if (user.role == 2){ %> 
                <div class="card bg-dark text-white text-center p-3" style="width: 18rem;">
                    <h5><small>Chef <%= user.nom %> </small></h5>
                    <a href="/ateliers/admin/<%= user._id %>" class="p-1 btn-success" >Mon compte</a>                
                    <a href="/cuisiniers/logout" class="p-1 btn-danger" >Se déconnecter</a>     
                </div>  
            <% } else if(user.role == 1) { %>
                    <div class="card bg-dark text-white text-center p-3" style="width: 18rem;">
                    <h5><%= user.prenom %> <%= user.nom %> </h5>            
                    <a href="/particuliers/logout" class="p-1 btn-danger" >Se déconnecter</a>
                    </div> 
            <% } %>
        </div>
    </nav>
</header>