<% include ../../partials/head.ejs %>
<body>
 <% include ../../partials/header.ejs %>
    <!--pour le lien "a", contient le lien vers la page "create"-->
    <h1 class="text-center mb-5 mt-5 pb-2 border-bottom-red mx-auto" ></i>Gestion des ateliers </h1>
    
    <!-- NE PAS AJOUTER DE type="button" sur un a quand il y a bootstrap de charger -->
    <!-- Il génère une difference entre chrome et firefox -->
    <div class="container-fluid bg-orange p-3 d-flex justify-content-center  "><a href="/ateliers/admin/create" class="btn btn-success p-50 py-3 mb-2  "> <i class="far fa-plus-square color-grey mx-2"></i>  Ajouter atelier </a></div>
    <table class="table-striped table-light">
      <thead class="table-dark">
        <tr class="text-uppercase">
          <th scope="col">atelier</th>
          <th scope="col">date</th>
          <th scope="col">horaire</th>
          <th scope="col">durée</th>
          <th scope="col">nb de place dispo.</th>
          <th scope="col">nb de place réservée</th>
          <th scope="col">Prix</th>
          <th scope="col"></th>
        </tr>
      </thead>

      
      <tbody>
      <% datas.forEach(function(data){ %>
          <tr>
            <!--liste du tableau-->
            <td data-column="atelier" scope="row"><%= data.titre %></td>
            <td data-column="date"><%= data.date %></td> 
            <td data-column="horaire"><%= data.horaire %></td>
            <td data-column="durée"><%= data.duree %>min</td>
            <td data-column="places dispo."><%= data.places_disponible %></td>
            <td data-column="places réservées"><%= data.places_reservees %></td>
            <td data-column="Prix"><%= data.prix %>&euro;</td>
           
            <td><a href="/ateliers/admin/edit/<%= data._id %>" class="btn btn-outline-dark"> <i class="far fa-edit"></i> Editer</a> </td>
            <!--bouton qui édite dans la derniere colonne-->
            
          </tr>
          <% }); %>

      </tbody>
    </table>
  
  
  <script>
    (function() {
      $(window).scroll(function() {
  if ($(this).scrollTop() > 100) {
		$('i').fadeIn();
	} else {
	  $('i').fadeOut();
	}
});
      $('a[href^="#"]').click(function(){
	var the_id = $(this).attr("href");
	$('html,body').animate({
		scrollTop:$(the_id).offset().top
	}, 'slow');
	return false;
});
})
  </script>
    <% include ../../partials/footer.ejs %>
