<% include ../partials/head.ejs %>

  <body>
    <% include ../partials/header.ejs %>
      <div class="container">
        <div class="row">
          <div class="col">
            <a href="/cuisiniers/auth" class="btn btn-danger mt-3 text-uppercase">
                <i class="fas fa-utensils mr-3"></i> Je suis cuisinier 
            </a>
          </div>
        </div>
      </div>

      <div class="container">
          <div class="row ">
            <% datas.forEach(function(atelier){ %>
              <div class="col-sm-12 col-md-6">   
                    
                  <div class="jumbotron h-jumbotron mt-5 text-center ">                     
                    <div class="row mb-3"> 
                      <div class="col-9 text-left font-weight-bold"> Disponible le : <span class="myDate"><%=atelier.date %></span>
                      </div>
                    <div class="col-3 p-0 text-right">à <%=atelier.horaire %>                  
                  </div>
                  </div>
                  <p class="lead"> Atelier proposé par <span><%=atelier._cuisinier.nom %> <%=atelier._cuisinier.prenom %>   </span></p>
                    <h3 class="text-uppercase"> <%=atelier.titre %></h3>
                    <div class="atelier-img ">
                      <img class="mb-3 img-fluid smooth" src="/img/<%=atelier.image %>" alt="<%=atelier.titre %>">  
                    </div>
                    <div class="">
                      <p class="lead pt-5"> Durée : <span class="maDuree"><%=atelier.duree%></span></p>  
                      <p >
                        <%=atelier.description %>
                      </p>
                    </div>
                    <hr class="my-4">     
                    <span class="badge badge-success p-3 text-uppercase mb-2"> Prix : <%=atelier.prix %> € </span>
                      <% if(user.role!=2){   %> 
                        <% if(atelier.places_disponible > atelier.places_reservees){   %> 
                          <form role="form" action="/ateliers/reservation/<%=atelier._id %>" method="POST" class="needs-validation" >   
                            <button type="submit" value="Register" class="btn btn-lg mb-3"> Réservation</button>  
                          <!-- <a class="btn btn-lg" href="/ateliers/reservation/<%=atelier._id %>" role="button">Réservation</a> -->
                          </form>
                          <span class="d-block h_var">
                            <% if(atelier.places_disponible<2){ %>
                           Place limité à : <%=atelier.places_disponible %> personnes
                           <br/> Places déja réservées : <%=atelier.places_reservees%>
                            <% }else{ %>
                              Place limité à :  <%=atelier.places_disponible %> personnes
                              <br/> Places déja réservées : <%=atelier.places_reservees%>
                            <% } %>
                          </span>
                        <% } else { %>
                          <div class="alert alert-secondary mt-4 h_var" role="alert">COMPLET <br/> Une prochaine session sera bientôt disponible</div>
                        <% } %>
                      <% } %>
                  </div>
              </div>
            <%  }); %>
          </div>
        </div>

            <!--******************************************************-->
           
              <% include ../partials/footer.ejs %>
            
