<% include ../partials/head.ejs %>
    <script src="js/script.js"></script>

    <body class="bg-dark">

        <% include ../partials/header.ejs %>


            <!--******************************************************-->

            <!-- PAGE ACCUEIL LISTE DES VOITURES ACTIVE -->

            <!--******************************************************-->



            <div class="container bg-light border-top-red mb-5 pb-5 mt-3">
                <!-- NE PAS AJOUTER DE type="button" sur un a quand il y a bootstrap de charger -->
                <!-- Il génère une difference entre chrome et firefox -->
                <a href="/" class="btn btn-danger mt-3 text-uppercase">
                    <i class="fas fa-home mr-3 "></i>Page de connexion </a>
                <a href="/ateliers/admin/" class="btn btn-dark mt-3 text-uppercase">Administration </a>

                <h1 class="text-center p-5">Accueil</h1>
                <div class="row mx-auto">
                    <% datas.forEach(function(atelier){ %>
                        <% if (atelier.actif === "on"){%>
                            <div class="col-md-4 pb-3 pt-3 ">
                                <div class="card">
                                    <div>
                                        <img src="/images/<%= atelier.image %>" class="card-img-top img-fluid">
                                    </div>
                                    <div class="card-body text-center">
                                        <h5 class="font-weight-bold">
                                            <%=atelier.marque %>
                                                <%=atelier.modele %>
                                        </h5>
                                        <div class="row justify-content-center">
                                            <!--J'appel ma fonction, qui est dans script.js-->
                                            <%=atelier.prix %> EUR
                                        </div>
                                        <a href="/ateliers/show/<%= atelier._id %> " class="btn btn-danger mt-3 text-uppercase">Voir plus</a>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                                <%  }); %>
                </div>
            </div>
            <% include ../partials/footer.ejs %>